@import 'font.css';

body {
    font-family: 'Roboto', monospace;
}

h1 {
    color: #486200;
    font-size: 34px;
    margin-bottom: 8px;
}

.logo {
    display: inline-block;
    width: 209px;
    height: 189px;
    background-image: url('../assets/pocket-svg.svg');
    background-size: cover;
}

.text-center {
    text-align: center;
    
}